<form class="navbar-form nav-stacked edit-user-form">
  <legend><%= user ? 'Edit' : 'New' %> Account</legend>
  <label class="form-label">First Name</label>
  <input class="form-input" type="text" name="firstname" value="<%= user ? user.get('firstname') : '' %>" required /> <hr />
  <label class="form-label">Last Name</label>
  <input class="form-input" type="text" name="lastname" value="<%= user ? user.get('lastname') : '' %>" required /> <hr />
  <label class="form-label">Age</label>
  <input class="form-input" type="text" name="age" value="<%= user ? user.get('age') : '' %>" required />
  <hr />
	<div class="container">
	  <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %> User</button>
	  <% if (user) { %>
	    <input type="hidden" name="id" value="<%= user.id %>" />
	    <button data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button>
	  <% }; %>
  </div>
</form>