<form class="navbar-form nav-stacked login-user-form">
  <legend>User Login</legend>
  <label class="form-label">Email Address</label>
  <input required id="usr-email" class="form-input" type="text" name="email" />
  <hr />
	<div class="container">
    <!--<a class="btn login-view-button">Login</a>-->
	  <button type="submit" class="btn login-view-button" id="usr-submit"> Login </button>
    <div class="alert alert-info login-alert" role="alert">
      <div>
        New to this app!? 
        <a href="#/create-account" class="alert-link"> Create an account!</a>
      </div>
    </div>
  </div>
</form>